<%= error_messages_for 'issue_template' %>
<div class="box tabular box-white">
  <p><%= f.text_field :title, required: true, size: 80, label: l(:issue_template_name) %></p>

  <fieldset class="issue">
    <legend class="issue"><%= l(:label_applied_for_issue) %></legend>
    <p>
      <% if issue_template.tracker.blank? %>
          <%= f.select :tracker_id, trackers.collect { |t| [t.name, t.id] }, {required: true},
                       required: true, label: l(:label_tracker) %>

      <% else %>
          <%= f.select :tracker_id, trackers.collect { |t| [t.name, t.id] }, {required: true},
                       required: true, label: l(:label_tracker), selected: issue_template.tracker.id %>
      <% end %>
    </p>
    <p><%= f.text_field :issue_title, required: false, size: 80, label: l(:issue_title) %>
      <a class="icon icon-help template-help" title="<%= l(:help_for_this_field) %>"
         data-template-help-target="#issue_title_help_content">
        <%= l(:help_for_this_field) %>
      </a>
      <br/>
      <span id="issue_title_help_content" class="issue_template help_content" style="display: none;">
        <%= l(:help_for_issue_title) %>
      </span>
    </p>
    <p>
      <%= f.text_area :description, cols: 78, rows: 12,
                      required: true,
                      label: l(:issue_description), style: 'overflow:auto;' %>
    </p>
    <!-- for Checklist -->
    <% if checklist_enabled %>
        <p id="checklist_form">
          <label>Checklist</label>
          <input type="text" id="checklist_text" class="edit-box">
          <span class="icon icon-add checklist-new-only save-new-by-button" onclick="addCheckList();"></span>
          <ul class='checklist' style='padding-left: 180px;'>
            <% issue_template.checklist.each_with_index do |content, i| %>
                <li id="checklist_<%= i %>">
                <span class="text">
                  <%= content %>
                  <a class="icon icon-del" href="javascript:void(0)" onclick="removeCheckList(this);"></a>
                </span>
                  <input type="hidden" name="global_issue_template[checklists][]"
                         id="global_issue_template_checklist" value="<%= content %>">
                </li>
            <% end %>
          </ul>
        </p>
    <% end %>
  </fieldset>
  <p>
    <%= f.text_area :note, cols: 70, rows: 3,
                    required: false,
                    label: l(:issue_template_note), style: 'overflow:auto;' %>
  </p>

  <p><%= f.check_box :is_default, label: l(:field_is_default) %>
    <a class="icon icon-help template-help" title="<%= l(:help_for_this_field) %>"
       data-template-help-target="#isdefault_help_content">
      <%= l(:help_for_this_field) %>
    </a>
    <br/>
    <span id="isdefault_help_content" class="issue_template help_content" style="display: none;">
      <%= l(:label_isdefault_help_message) %>
    </span>
  </p>

  <p><%= f.check_box :enabled, label: l(:label_enabled) %>
    <a class="icon icon-help template-help" title="<%= l(:help_for_this_field) %>"
       data-template-help-target="#enabled_help_content">
      <%= l(:help_for_this_field) %>
    </a><br/>
    <span id="enabled_help_content" class="issue_template help_content" style="display: none;"><%= l(:label_enabled_help_message) %></span>

  </p>

</div>

<%= wikitoolbar_for 'global_issue_template_description' %>

<div id="preview" class="wiki"></div>
<%= preview_link url_for(controller: 'global_issue_templates', action: 'preview',
                         id: issue_template),
                 'global_issue_template_description', target='preview' %> |
<%= link_to l(:button_cancel), {action: 'index'}, data: {confirm: l(:text_are_you_sure)} %>

<div class="box">
  <% if apply_all_projects %>
      <p>
        <i class="issue_template icon settings"></i>
        <span class="issue_template help_content">
          <%= l(:note_apply_global_template_to_all_projects_setting_enabled) %>
        </span>
        (
        <%= link_to(l(:label_settings),
                    { controller: 'settings', action: 'plugin', id: 'redmine_issue_templates' },
                    class: 'issue_template icon plugins') %> )
      </p>
  <% end %>
  <% if projects.any? %>
      <fieldset class="box box-white" id="global_issue_template_project_ids"
                style="<%= apply_all_projects ? 'opacity: 0.6' : '' %>">
        <a class="collapsible collapsed template-help" data-template-help-target="#all_projects">
          <%= l(:project_list_associated_this_template, {applied: issue_template.projects.length, all: projects.length}) %>
        </a>
        <div id="all_projects" style="display: none; ">
        <p><%= check_all_links 'global_issue_template_project_ids' %></p>
        <legend><%= l(:label_project_plural) %></legend>
        <%= render_project_nested_lists(projects) do |p|
          content_tag('label', check_box_tag('global_issue_template[project_ids][]',
                                             p.id, issue_template.projects.to_a.include?(p),
                                             id: nil, disabled: apply_all_projects,
                                             checked: issue_template.projects.to_a.include?(p) ) + ' ' + h(p))
        end %>
        </div>
      </fieldset>
  <% end %>
  <%= hidden_field_tag 'global_issue_template[project_ids][]', '' %>
</div>


<%= submit_tag l(issue_template.new_record? ? :button_create : :button_save) %>

<script type="text/javascript">
    var checklist = $('.checklist');

    function removeCheckList(obj) {
        var target = obj.closest('li')
        target.remove();
    }

    function addCheckList() {
        var text = $('#checklist_text').val();
        if (text == '') return false;

        $('.checklist-item').each(function (i, elem) {
            e = $(elem)
            if ((text == e.val())) {
                return;
            }
        })
        addCheckListItem(text);
        $('#checklist_text').val('');
    }

    function addCheckListItem(value) {
        var li = $('<li>');
        var text = $('<span class="text">').text(value);
        var hidden = $("<input>", {
            type: 'hidden',
            id: 'global_issue_template_checklist',
            name: 'global_issue_template[checklists][]',
            class: 'checklist-item',
            value: value
        }).appendTo(li);

        var remove_link = $("<a>", {
            class: 'icon icon-del',
        });

        text.append(remove_link);
        li.append(text);
        checklist.append(li);

        $('body').on('click', '.icon.icon-del', function () {
            removeCheckList(this);
        });
    }
</script>
