<h2 class="template"><%=h "#{l(:global_issue_templates)}" %></h2>
<%= render partial: "common/nodata", locals: { trackers: trackers } %>
<div class="contextual issue_templates">
  <%= link_to(l(:label_new_templates),
              { controller: 'global_issue_templates', action: 'new' }, class: 'icon icon-add') %>
  <%= link_to(l(:label_settings),
              { controller: 'settings', action: 'plugin', id: 'redmine_issue_templates' },
              class: 'issue_template icon plugins') %>
</div>
<div style="clear:both;"></div>

<% if template_map.blank? %>
    <div class="template_box">
      <%= l(:no_issue_templates_for_this_redmine) %>
    </div>
<% end %>
<% template_map.each_key do |tracker| %>
    <div class="template_box">
      <h3 class="template_tracker"><%= tracker.name %></h3>

      <table class="list issues ui-sortable table-sortable">
        <thead>
        <tr>
          <th>#</th>
          <th><%= l(:issue_template_name) %></th>
          <th><%= l(:field_tracker) %></th>
          <th><%= l(:field_author) %></th>
          <th><%= l(:field_updated_on) %></th>
          <th><%= l(:field_is_default) %></th>
          <th><%= l(:label_enabled) %></th>
          <th><%=l(:button_sort)%></th>
        </tr>
        </thead>
        <tbody>
        <% template_map[tracker].sorted.each do |issue_template| %>
            <tr class="<%= cycle('odd', 'even') %> issue_template issue">
              <td><%= link_to h(issue_template.id), { controller: 'global_issue_templates',
                                                      id: issue_template.id, action: 'show' },
                              { title: issue_template.title}  %></td>
              <td><%= link_to h(issue_template.title), { controller: 'global_issue_templates',
                                                         id: issue_template.id, action: 'show' },
                              { title: "#{html_escape(issue_template.note)}" } %>
                <div class="template_tooltip_wrapper">
                  <a class="icon template_tooltip" title="<%= l(:label_preview) %>"></a>
                  <div class="wiki template_tooltip_body">
                    <span class="title"><%= issue_template.title %></span>
                    <%= textilizable(issue_template.description) %>
                  </div>
                </div>

                </a>
              </td>
              <td><%=h issue_template.tracker.name %></td>
              <td><%=h issue_template.author %></td>
              <td><%= format_time(issue_template.updated_on)%> </td>
              <td class="center"><%= checked_image issue_template.is_default? %></td>
              <td class="center"><%= checked_image issue_template.enabled? %></td>

              <td class="buttons">
                <%= reorder_handle(issue_template, :url => url_for({ controller: 'global_issue_templates',
                                                             id: issue_template.id, action: 'update' })) %>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <%= javascript_tag do %>
    $(function() { $("table.table-sortable tbody").positionedItems(); });
  <% end %>
<% end %>

<%= link_to l(:orphaned_templates, default: 'Orphaned Templates'), global_orphaned_templates_path, remote: true,
            id: 'orphaned_template_link', class: 'collapsible collapsed template-help'
%>
<div id="orphaned_templates" style="display: none"></div>
