<div class="form-inline issue_templates">
  <p>
    <%= hidden_field_tag("settings[apply_global_template_to_all_projects]", 0, :id => nil).html_safe %>
    <%= check_box_tag 'settings[apply_global_template_to_all_projects]', true, @settings['apply_global_template_to_all_projects'] == "true" %>
    <%= content_tag(:b, l(:label_apply_global_template_to_all_projects))%>
    <a class="icon icon-help template-help" title="<%= l(:help_for_this_field) %>"
       data-template-help-target="#enabled_help_content">
      <%= l(:help_for_this_field) %>
    </a>
    <div id="enabled_help_content" style="display: none;">
      <%= l(:help_project_local_template_override_global_template) %>
      <p>
        <span class="icon icon-warning"></span>
        <span class="issue_template help_content">
          <%= l(:warning_project_local_template_override_global_template) %>
        </span>
      </p>
    </div>
    <%= link_to(l(:link_to_index_edit_template),
              { controller: 'global_issue_templates', action: 'index' },
              class: 'template pull-right') %>
  </p>
</div>
<script>
</script>