<table class='list template_list'>
  <thead>
  <tr>
    <th><%=h l(:note_template_name, default: "Name") %></th>
    <th><%=h l(:note_description, default: "Comment Body") %></th>
    <th><%=h l(:button_apply, default: 'Apply') %></th>
  </tr>
  </thead>
<% note_templates.each do |template| %>
      <tr class="<%= cycle('odd', 'even') %> template_data">
        <td>
          <%= template.name %>
        </td>
        <td>
          <div class='template_tooltip_wrapper'>
            <a class='icon template_tooltip' href='#' title='<%= l(:label_preview) %>'></a>
            <div class='wiki template_tooltip_body'>
              <span class='title'><%= template.name %></span>
              <%= textilizable(template.description) %>
              <hr/>
              <span class='title'><%= l(:issue_template_note) %></span>
              <%= textilizable(template.try(:memo)) %>
            </div>
          </div>
        </td>
        <td>
          <a data-note-template-id='<%= template.id %>'
             onclick='noteTemplateNS.applyNoteTemplate(this)'
             class='icon icon-test template-update-link'></a>
        </td>
      </tr>
<% end %>
<% global_note_templates.each do |template| %>
      <tr class="<%= cycle('odd', 'even') %> template_data">
        <td>
          <%= template.name %>
        </td>
        <td>
          <div class='template_tooltip_wrapper'>
            <a class='icon template_tooltip' href='#' title='<%= l(:label_preview) %>'></a>
            <div class='wiki template_tooltip_body'>
              <span class='title'><%= template.name %></span>
              <%= textilizable(template.description) %>
              <hr/>
              <span class='title'><%= l(:issue_template_note) %></span>
              <%= textilizable(template.try(:memo)) %>
            </div>
          </div>
        </td>
        <td>
          <a data-note-template-id='<%= template.id %>'
             onclick='noteTemplateNS.applyNoteTemplate(this)'
             class='icon icon-test template-global template-update-link'></a>
        </td>
      </tr>
<% end %>
</table>
