<h2 class="template"><%=h "#{l(:note_template)}" %></h2>
<%= render partial: "common/nodata", locals: { trackers: tracker_ids } %>
<div class="contextual note_templates">
  <%= link_to_if_authorized(l(:label_new_templates),
                            { controller: 'note_templates', action: 'new', project_id: @project },
                              class: 'icon icon-add') %>
</div>
<div style="clear:both;"></div>

<% if @notice -%>
  <div class="flash notice"><%= @notice -%></div>
<% end -%>


<% if @template_map.empty? %>
    <div class="template_box">
      <%= l(:no_note_templates_for_this_project) %>
    </div>
<% end %>

<% @template_map.each_key do |tracker| %>
    <div class="template_box">
      <h3 class="template_tracker"><%= tracker.name %></h3>

      <table class="list issues table-sortable">
        <thead>
        <tr>
          <th>#</th>
          <th class='hideable'><%= l(:issue_template_name) %></th>
          <th><%= l(:label_preview) %></th>
          <th class='hideable'><%= l(:field_tracker) %></th>
          <th class='hideable'><%= l(:field_author) %></th>
          <th class='hideable'><%= l(:field_updated_on) %></th>
          <th><%= l(:label_enabled) %></th>
          <% if authorize_for('note_templates', 'edit') %>
              <th><%=l(:button_sort)%></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @template_map[tracker].each do |note_template| %>
            <tr class="<%= cycle('odd', 'even') %> note_template issue">
              <td>
                <%= link_to h(note_template.id),
                            { controller: :note_templates, action: 'show',
                              id: note_template.id, project_id: note_template.project
                            },
                            { title: note_template.memo } %>
              </td>
              <td class="hideable template_title">
                <%= link_to h(note_template.name),
                            { controller: 'note_templates',
                              id: note_template.id, action: 'show' },
                            { title: "#{html_escape(note_template.memo) }"} %>
              </td>
              <td>
                <div class="template_tooltip_wrapper">
                  <a class="icon template_tooltip" title="<%= l(:label_preview) %>"></a>
                  <div class="wiki template_tooltip_body">
                    <span class="title"><%= note_template.name %></span>
                    <%= textilizable(note_template.description) %>
                  </div>
                </div>
              </td>
              <td class='hideable'><%=h note_template.tracker.name %></td>
              <td class='hideable'><%=h note_template.author %></td>
              <td class='hideable'><%= format_time(note_template.updated_at)%> </td>
              <td class="center"><%= checked_image note_template.enabled? %></td>

              <% if authorize_for('note_templates', 'edit') %>
                <td class="buttons">
                  <%= reorder_handle(note_template,
                                      url: url_for(:controller => 'note_templates',
                                                  :action => 'update', :id => note_template.id,
                                                  :project_id => note_template.project)) %>
                </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= javascript_tag do %>
        $(function() { $("table.table-sortable tbody").positionedItems(); });
    <% end %>
<% end %>
