<div style='display: flex; float: right; padding-top: 40px;
                    position: relative; bottom: 6px; right: 0;'>
    <div class='template_link_area'>
      <label><%= l(:issue_template) %>: </label>
      <%= link_to(l(:label_list_templates),
                { controller: 'issue_templates',
                  action: 'index',
                  project_id: @project}, class: 'icon icon-template') %>   |
      <%= link_to_if_authorized(l(:label_new_templates),
                              { controller: 'issue_templates', action: 'new', project_id: @project },
                              class: 'icon icon-add') %>
    </div>
    <div class='template_link_area'>
      <label><%= l(:note_template) %>: </label>
      <%= link_to(l(:label_list_templates),
                { controller: 'note_templates',
                  action: 'index',
                  project_id: @project}, class: 'icon icon-template') %>   |
      <%= link_to_if_authorized(l(:label_new_templates),
                              { controller: 'note_templates', action: 'new', project_id: @project },
                              class: 'icon icon-add') %>
    </div>

    <div class='template_link_area'>
      <label><%= l(:issue_templates_optional_settings, default: 'Templates Optional Settings') %>: </label>
      <%= link_to_if_authorized(l(:label_settings, default: 'Settings'),
                              { controller: 'issue_templates_settings', action: 'index', project_id: @project },
                              class: 'icon icon-settings') %>
    </div>
</div>
