<%- 
baseurl = Redmine::Utils.relative_url_root
helpImg = baseurl + "/images/help.png"

%>
<%= error_messages_for 'issue_template' %>
<div class="box tabular" style="background-color: white;">
<p><%= f.text_field :title, :required => true, :size => 80, :label => l(:issue_template_name) %> </p>

<fieldset class="issue">
<legend class="issue"><%= l(:label_applied_for_issue) %></legend>
<p>
  <% if @issue_template.tracker.blank? %>
  <%= f.select :tracker_id, template_target_trackers(@project, @issue_template),
       :required => true,:label => l(:label_tracker)  %>
　<% else %>
      <%= f.select :tracker_id, template_target_trackers(@project, @issue_template),
                   :required => true,:label => l(:label_tracker), :selected => @issue_template.tracker.id %>
  <% if !is_project_tracker(@issue_template.tracker.id, @project) %><br/>
  <%= non_project_tracker_msg(is_project_tracker(@issue_template.tracker.id, @project)) %>
  <% end %>
<% end %>
</p>
<p><%= f.text_field :issue_title, :required => false, :size => 80, :label => l(:issue_title) %>
    <a class="icon icon-help" href="#" title="<%= l(:help_for_this_field) %>"
     onclick="checkExpand('issue_title_help_content');"><%= l(:help_for_this_field) %></a><br/>
<span id="issue_title_help_content" class="help_content" style="display: none;">
  <%= l(:help_for_issue_title) %>   
</span>
</p>
<p>
<%= f.text_area :description,:cols => 78, :rows => 12,
                 :required => true,
                 :label => l(:issue_description), :style => "overflow:auto;" %>
</p>
</fieldset>
<p>
<%= f.text_area :note,:cols => 70, :rows => 3,
                 :required => false,
                 :label => l(:issue_template_note), :style => "overflow:auto;" %>  
</p>

<p><%= f.check_box :is_default, :label => l(:field_is_default) %>
  <a class="icon icon-help" href="#" title="<%= l(:help_for_this_field) %>"
     onclick="checkExpand('isdefault_help_content'); return false;"><%= l(:help_for_this_field) %>
  </a><br/>
  <span id="isdefault_help_content" class="help_content" style="display: none;"><%= l(:label_isdefault_help_message) %></span>
</p>
<p><%= f.check_box :enabled, :label => l(:label_enabled) %>
  <a class="icon icon-help" href="#" title="<%= l(:help_for_this_field) %>"
     onclick="checkExpand('enabled_help_content'); return false;"><%= l(:help_for_this_field) %>
  </a><br/>
<span id="enabled_help_content" class="help_content" style="display: none;"><%= l(:label_enabled_help_message) %></span>

</p>

<p><%= f.check_box :enabled_sharing, :label => l(:label_enabled_sharing) %>
  <a class="icon icon-help" href="#" title="<%= l(:help_for_this_field) %>"
     onclick="checkExpand('enabledsharing_help_content'); return false;"><%= l(:help_for_this_field) %>
  </a><br/>
  <span id="enabledsharing_help_content" class="help_content" style="display: none;"><%= l(:label_enabledshaing_help_message) %></span>
</p>

</div>

<%= wikitoolbar_for 'issue_template_description' %>



