<table class="list template_list">
  <thead>
  <tr>
    <th><%=h l(:issue_template_name) %></th>
    <th><%=h l(:issue_title) %></th>
    <th><%=h l(:issue_description) %></th>
    <th><%= l(:field_is_default) %></th>
    <th><%=h l(:button_apply, default: 'Apply') %></th>
  </tr>
  </thead>
<% issue_templates.each do |template| %>
      <tr class="<%= cycle('odd', 'even') %> template_data">
        <td>
          <%= template.title %>
        </td>
        <td>
          <%= template.issue_title %>
        </td>
        <td>
          <div class="template_tooltip_wrapper">
            <a class="icon template_tooltip" href="#" title="<%= l(:label_preview) %>"></a>
            <div class="wiki template_tooltip_body">
              <span class="title"><%= template.title %></span>
              <%= textilizable(template.description) %>
            </div>
          </div>
        </td>
        <td class="center"><%= checked_image template.is_default? %></td>
        <td>
          <a data-issue-template-id="<%= template.id %>"
             class="icon icon-test template-update-link"></a>
        </td>
      </tr>
<% end %>
<% inherit_templates.each do |template| %>
      <tr class="<%= cycle('odd', 'even') %> template_data">
        <td>
          <%= template.title %>
        </td>
        <td>
          <%= template.issue_title %>
        </td>
        <td>
          <div class="template_tooltip_wrapper">
            <a class="icon template_tooltip" href="#" title="<%= l(:label_preview) %>"></a>
            <div class="wiki template_tooltip_body">
              <span class="title"><%= template.title %></span>
              <%= textilizable(template.description) %>
            </div>
          </div>
        </td>
        <td class="center"><%= checked_image template == default_template %></td>
        <td>
          <a data-issue-template-id="<%= template.id %>"
             class="icon icon-test template-update-link"></a>
        </td>
      </tr>
<% end %>
<% global_issue_templates.each do |template| %>
      <tr class="<%= cycle('odd', 'even') %> template_data">
        <td>
          <%= template.title %>
        </td>
        <td>
          <%= template.issue_title %>
        </td>
        <td>
          <div class="template_tooltip_wrapper">
            <a class="icon template_tooltip" href="#" title="<%= l(:label_preview) %>"></a>
            <div class="wiki template_tooltip_body">
              <span class="title"><%= template.issue_title %></span>
              <%= textilizable(template.description) %>
            </div>
          </div>
        </td>
        <td class="center"><%= checked_image template == default_template %></td>
        <td>
          <a data-issue-template-id="<%= template.id %>"
             class="icon icon-test template-update-link template-global"></a>
        </td>
      </tr>
<% end %>
</table>
<script type="text/javascript">
$(document).ready(function () {
  // set plugin
  $('a.template-update-link').issueTemplate('updateTemplateSelect');
});
</script>
