<script type="text/javascript">
  var length = $('#issue_template > optgroup > option').length;
  if (length < 1) {
    $('#template_area').hide();
    <% if is_triggered_by.blank? || (is_triggered_by.present? && is_triggered_by == 'issue_tracker_id') %>
    if ($('#issue-form.new_issue').length > 0 && <%= should_replaced %> === true) {
      // Uncaught ReferenceError: templateNS is not defined
      if (typeof templateNS !== 'undefined') {
        templateNS.eraseSubjectAndDescription();
      }
    }
   <% end %>
  } else {
    $('#template_area').show();
  }
</script>
<option value="">---</option>
<optgroup label="<%=h @tracker.name %>">
  <%= options_for_template_pulldown(grouped_options) %>
</optgroup>
<% if is_triggered_by.blank? || (is_triggered_by.present? && is_triggered_by == 'issue_tracker_id') %>
  <script type="text/javascript">
    var templateConfig = {
      isTriggeredBy: '<%= is_triggered_by %>',
      loadUrl:  '<%= url_for(controller: 'issue_templates', action: 'load', project_id: @project) %>',
      shouldReplaced: '<%= should_replaced %>',
      confirmation: '<%=h l(:label_confirmation) %>',
      generalTextYes: '<%=h l(:general_text_Yes) %>',
      generalTextNo : '<%=h l(:general_text_No) %>',
    };

    var templateNS = templateNS || new ISSUE_TEMPLATE(templateConfig);

    templateNS.loadTemplate();
    templateNS.changeTemplatePlace();
  </script>
<% end %>
