<script type="text/javascript">
    var length = $('#issue_template > optgroup > option').length;
    if (length < 1) {
        $('#template_area').hide();
    } else {
        $('#template_area').show();
    }
</script>
<option value="">---</option>
<optgroup label="<%=h @tracker.name %>">
  <%= options_for_template_pulldown(grouped_options) %>
</optgroup>
<% if is_triggered_by_status.blank? || (is_triggered_by_status.present? && is_triggered_by_status == 'false') %>
    <script type="text/javascript">
        var load_url = '<%= url_for(controller: 'issue_templates', action: 'load', project_id: @project) %>';
        var should_replaced = '<%= should_replaced %>';
        var confirm_msg = "<%=h escape_javascript((l(:defaulf_template_loaded, tracker: @tracker))) %>";
        var confirmation = '<%=h l(:label_confirmation) %>';
        var general_text_Yes = '<%=h l(:general_text_Yes) %>';
        var general_text_No = '<%=h l(:general_text_No) %>';

        var templateNS = new ISSUE_TEMPLATE();
        templateNS.load_template(load_url, confirm_msg, should_replaced, false, confirmation, general_text_Yes, general_text_No);
    </script>
<% end %>
