<% if @grouped_options.length == 0 %>
    <script type="text/javascript">
        $('#template_area').toggle();
    </script>
<% end %>
<option value="">---</option>
<%= grouped_options_for_select(@grouped_options, default_template) %>

<% if !default_template.nil? && is_triggered_by_status == 'false' %>
    <script type="text/javascript">
      //<![CDATA[
      token = '<%= form_authenticity_token %>';
      load_url = '<%= url_for(controller: 'issue_templates', action: 'load', project_id: @project) %>';
      should_replaced = '<%= should_replaced %>';
      load_template(load_url, token, confirm_msg, should_replaced);

      var template_status_area = $('#template_status-area');
      template_status_area.insertBefore('#issue_description');
      template_status_area.flash_message({
        text: "<%= l(:defaulf_template_loaded, tracker: @tracker.name) %>",
        how: 'append'
      });
    </script>
<% end %>
