<h2 class='issue_template'><%=h "#{l(:issue_template)}" %></h2>
<%= render partial: 'common/nodata', locals: { trackers: tracker_ids } %>
<div class='contextual issue_templates'>
  <%= link_to_if_authorized(l(:label_new_templates),
                            { controller: 'issue_templates', action: 'new', project_id: @project },
                              class: 'icon icon-add') %>
</div>
<div style='clear: both;'></div>

<% if @notice -%>
  <div class='flash notice'><%= @notice -%></div>
<% end -%>


<% if @template_map.empty? %>
    <div class='template_box'>
      <%= l(:no_issue_templates_for_this_project) %>
    </div>
<% end %>

<% @template_map.each_key do |tracker| %>
    <div class='template_box'>
      <h3 class='template_tracker'><%= tracker.name %></h3>
      <%= non_project_tracker_msg(project_tracker?(tracker, @project)) %>

      <table class='list issues table-sortable template_list'>
        <thead>
        <tr>
          <th>#</th>
          <th class='hideable'><%= l(:issue_template_name) %></th>
          <th><%= l(:label_preview) %></th>
          <th class='hideable'><%= l(:field_tracker) %></th>
          <th class='hideable'><%= l(:field_author) %></th>
          <th class='hideable'><%= l(:field_updated_on) %></th>
          <th><%= l(:field_is_default) %></th>
          <th><%= l(:label_enabled) %></th>
          <% if authorize_for('issue_templates', 'edit') %>
              <th><%=l(:button_sort)%></th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% @template_map[tracker].each do |issue_template| %>
            <tr class='<%= cycle('odd', 'even') %> issue_template issue'>
              <td>
                <%= link_to h(issue_template.id),
                            { controller: :issue_templates, action: 'show',
                              id: issue_template.id, project_id: issue_template.project
                            },
                            { title: issue_template.note } %>
              </td>
              <td class='hideable template_title'>
                <%= link_to h(issue_template.title),
                            { controller: 'issue_templates',
                              id: issue_template.id, action: 'show' },
                            { title: "#{html_escape(issue_template.note) }"} %>
              </td>
              <td>
                <div class='template_tooltip_wrapper'>
                  <a class='icon template_tooltip' title='<%= l(:label_preview) %>'></a>
                  <div class='wiki template_tooltip_body'>
                    <span class="title"><%= issue_template.title %></span>
                    <%= textilizable(issue_template.description) %>
                    <% if issue_template.related_link.present? %>
                      <hr/>
                      <%= link_to issue_template.link_title.present? ? issue_template.link_title : l(:issue_template_related_link, default: 'Related link'),
                          issue_template.related_link, target: '_blank', rel: 'nofollow noopener', class: 'external' %>
                    <% end %>
                  </div>
                </div>
              </td>
              <td class='hideable'><%=h issue_template.tracker.name %></td>
              <td class='hideable'><%=h issue_template.author %></td>
              <td class='hideable'><%= format_time(issue_template.updated_on)%> </td>
              <td class='center'><%= checked_image issue_template.is_default? %></td>
              <td class='center'><%= checked_image issue_template.enabled? %></td>

              <% if authorize_for('issue_templates', 'edit') %>
                <td class='buttons'>
                  <%= reorder_handle(issue_template,
                                      url: url_for(:controller => 'issue_templates',
                                                  :action => 'update', :id => issue_template.id,
                                                  :project_id => issue_template.project)) %>
                </td>
              <% end %>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= javascript_tag do %>
      // NOTE: Sortable feature depends on Redmine's sorting jQuery plugin.
      $(function() { $('table.table-sortable tbody').positionedItems() })
    <% end %>
<% end %>


<% unless @inherit_templates.blank? %>
<h2 class='issue_template'><%=h "#{l(:label_inherited_templates)}" %></h2>
  <div class='template_box'>

        <table class='list issues template_list'>
          <thead>
          <tr>
            <th>#</th>
            <th class='hideable'><%= l(:issue_template_name) %></th>
            <th><%= l(:label_preview) %></th>
            <th class='hideable'><%= l(:field_tracker) %></th>
            <th class='hideable'><%= l(:field_author) %></th>
            <th class='hideable'><%= l(:field_updated_on) %></th>
            <th><%= l(:field_is_default) %></th>
            <th><%= l(:label_enabled) %></th>
          </tr>
          </thead>
          <tbody>
          <% @inherit_templates.each do |issue_template| %>
              <tr class='<%= cycle('odd', 'even') %> issue_template issue'>
                <td>
                  <%= link_to h(issue_template.id),
                              { controller: 'issue_templates',
                                action: 'show', id: issue_template.id,
                                project_id: issue_template.project_id },
                              { title: issue_template.note } %>
                </td>
                <td class='hideable template_title'>
                  <%= link_to h(issue_template.title),
                              { controller: 'issue_templates',
                                project_id: issue_template.project_id,
                                id: issue_template.id, action: 'show' },
                              { title: "#{html_escape(issue_template.note)}" } %>
                </td>
                <td>
                  <div class='template_tooltip_wrapper'>
                    <a class='icon template_tooltip' title='<%= l(:label_preview) %>'></a>
                    <div class='wiki template_tooltip_body'>
                      <span class='title'><%=h issue_template.title %></span>
                      <%=h textilizable(issue_template.description) %>
                      <% if issue_template.related_link.present? %>
                        <hr/>
                        <%= link_to issue_template.link_title.present? ? issue_template.link_title : l(:issue_template_related_link, default: 'Related link'),
                            issue_template.related_link, target: '_blank', rel: 'nofollow noopener', class: 'external' %>
                      <% end %>
                    </div>
                  </div>
                </td>
                <td class='hideable'><%=h issue_template.tracker.name %></td>
                <td class='hideable'><%=h issue_template.author %></td>
                <td class='hideable'><%=h format_time(issue_template.updated_on)%> </td>
                <td class='center'><%= checked_image issue_template.is_default? %></td>
                <td class='center'><%= checked_image issue_template.enabled? %></td>
              </tr>
              <tr class='<%= current_cycle %>' style='display: none;' id='template_description-<%= issue_template.id %>'>
                <td class="description" colspan="8">
                  <div class="wiki"><%=h textilizable(issue_template.description) %>
                  <hr/>
                  <%= link_to_if issue_template.related_link.present?,
                    issue_template.link_title.present? ? issue_template.link_title : l(:issue_template_related_link, default: 'Related link'),
                    issue_template.related_link, target: '_blank', rel: 'nofollow noopener', class: 'external' %>
                  </div>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    </div>
 <% end %>

<% unless  @global_issue_templates.blank? %>
    <h2 class='issue_template'><%=h "#{l(:global_issue_templates)}" %></h2>
    <div class='template_box'>

      <% if apply_all_projects %>
          <p>
            <i class='issue_template icon settings'></i>
            <span class="issue_template help_content">
              <%= l(:note_apply_global_template_to_all_projects_setting_enabled) %><br/>
              <%= l(:note_project_local_template_override_global_template) %>
            </span>
          </p>
      <% end %>

      <%= l(:only_admin_can_associate_global_template) %>
      <table class='list issues template_list'>
        <thead>
        <tr>
          <th>#</th>
          <th class='hideable'><%= l(:issue_template_name) %></th>
          <th><%= l(:label_preview) %></th>
          <th class='hideable'><%= l(:field_tracker) %></th>
          <th class='hideable'><%= l(:field_author) %></th>
          <th class='hideable'><%= l(:field_updated_on) %></th>
          <th><%= l(:field_is_default) %></th>
        </tr>
        </thead>
        <tbody>
        <% @global_issue_templates.each do |issue_template| %>
            <tr class='<%= cycle('odd', 'even') %> issue_template issue'>
              <td>
                <% if User.current.admin? %>
                    <%= link_to h(issue_template.id),
                                { controller: 'global_issue_templates',
                                  action: 'show', id: issue_template.id, },
                                { title: issue_template.note } %>
                <% else %>
                    <%=h issue_template.id %>
                <% end %>
               </td>

              <td class='hideable template_title'>
                <%= link_to h(issue_template.title),
                            { controller: 'global_issue_templates',
                              id: issue_template.id, action: 'show' },
                            { title: "#{html_escape(issue_template.note)}" } %>
              </td>
              <td>
                <div class='template_tooltip_wrapper'>
                  <a class='icon template_tooltip' title='<%= l(:label_preview) %>'></a>
                  <div class='wiki template_tooltip_body'>
                    <span class='title'><%=h issue_template.title %></span>
                    <%=h textilizable(issue_template.description) %>
                    <% if issue_template.related_link.present? %>
                      <hr/>
                      <%= link_to issue_template.link_title.present? ? issue_template.link_title : l(:issue_template_related_link, default: 'Related link'),
                          issue_template.related_link, target: '_blank', rel: 'nofollow noopener', class: 'external' %>
                    <% end %>
                  </div>
                </div>
              </td>
              <td class='hideable'>
                <% if issue_template.tracker.present? %>
                  <%= h issue_template.tracker.try(:name) || "ID: #{issue_template.tracker_id}" %>
                <% else %>
                  <span title="<%= l(:orphaned_template, default: 'Orphaned template from tracker') %>">
                    <%= "ID: #{issue_template.tracker_id}" %>
                  </span>
                <% end %>
              </td>
              <td class='hideable'><%=h issue_template.author %></td>
              <td class='hideable'><%=h format_time(issue_template.updated_on)%> </td>
              <td class='center'><%= checked_image issue_template.is_default? %></td>
            </tr>
            <tr class='<%= current_cycle %>' style='display: none;' id='global_template_description-<%= issue_template.id %>'>
              <td class='description' colspan='8'>
                <div class="wiki"><%=h textilizable(issue_template.description) %>
                <% if issue_template.related_link.present? %>
                  <hr/>
                  <%= link_to issue_template.link_title.present? ? issue_template.link_title : l(:issue_template_related_link, default: 'Related link'),
                      issue_template.related_link, target: '_blank', rel: 'nofollow noopener', class: 'external' %>
                <% end %>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
<% end %>

<a id='orphaned_template_link' class='icon template_tooltip orphaned_template_link template-help collapsible collapsed'
  title='<%= l(:orphaned_templates) %>'
  data-template-help-target='orphaned_templates'
  data-url='<%= orphaned_templates_project_issue_templates_path %>'>
  <%= l(:orphaned_templates, default: 'Orphaned Templates') %>
</a>

<div id='orphaned_templates' style='display: none'></div>

<%= render partial: 'common/template_links' %>
