<div class="contextual">
<%= link_to(l(:label_list_templates),
              {:controller => :issue_templates,
              :action => :index,
              :project_id => @project}, :class => 'template') %> 
</div>
<h2 class="template"><%=h "#{l(:issue_templates)} / #{l(:button_add)}" %></h2>
<div class="box">
  <%= error_messages_for 'issue_template' %>
  <% labelled_form_for :issue_template,  @issue_template, 
     :url => { :controller => 'issue_templates', :action => 'new', :project_id => @project },
     :html => { :id => 'issue_template-form',
     :class => nil, :multipart => false } do |f| %> 
  <%= render :partial => 'form', :locals => { :f => f } %>
  <%= submit_tag l(:button_apply) %>
  <% end %>
  
  <%= link_to_remote l(:label_preview),
    { :url => { :controller => 'issue_templates', :action => 'preview', :id => @issue_template },
    :method => 'post',
    :update => 'preview',
    :with => "Form.serialize('issue_template-form')"
    }, :accesskey => accesskey(:preview) %> |
  <%= link_to l(:button_cancel), {:action => 'index'}, :confirm => l(:text_are_you_sure) %>
  <div id="preview" class="wiki"></div>
	  
</div>

